numpy
pandas
scipy
scikit-learn
opencv-python-headless
av
decord
pillow

torchmetrics
timm
transformers
accelerate
einops

albumentations
kornia

hydra-core
omegaconf

tensorboard
wandb

boto3
s3fs

tqdm
rich
pyyaml